@import "tailwindcss";

/* ------------------------- Interfaz del modo ------------------------- */
#mode-interface {
  @apply flex flex-col flex-1 relative overflow-hidden bg-base-300/10;
  position: relative;
  z-index: 1;
}

/* ------------------------- Wrapper de la interfaz del modo ------------------------- */
.mode-wrapper {
  @apply w-full max-w-4xl mx-auto h-full flex flex-col items-center justify-between p-6 md:p-10 transition-all duration-300;
}

/* Usado en navegación */
.mode-wrapper-full {
  @apply w-full h-full relative;
  z-index: 10;
}

/* ------------------------- Joystick ------------------------- */
#joystick-container {
  @apply relative w-56 h-56 rounded-full border-4 border-base-300 shadow-inner;
  background: radial-gradient(circle at center, #2a2f36 0%, #111418 100%);
}

#joystick-container::before {
  content: '';
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-2 h-2 bg-base-content/10 rounded-full;
}

#joystick-puck {
  @apply absolute w-16 h-16 bg-primary rounded-full shadow-2xl;
  background: radial-gradient(circle at 30% 30%, var(--color-primary) 0%, #000 150%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  touch-action: none;
  cursor: grab;
}

/* ------------------------- Stats ------------------------- */
.stats {
  @apply flex justify-around items-center text-xs font-mono bg-base-200/50 backdrop-blur-md p-2 rounded-xl border border-base-300 w-full max-w-70 shadow-sm;
}

.stats span {
  @apply text-primary font-black text-sm;
}

/* ------------------------- Botones ------------------------- */
.btn-action {
  @apply btn btn-primary w-full;
}

/* ------------------------- Luces ------------------------- */
.btn-light {
  @apply btn btn-circle;
}

.btn-light.btn-state-on {
  @apply animate-pulse;
}

/* ------------------------- Mapa de Leaflet ------------------------- */
#mapa {
  @apply absolute inset-0;
  z-index: 0;
}

.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane {
  z-index: 0 !important;
}

.leaflet-control-container {
  z-index: 10 !important;
}