# VARIABLES DE ENTORNO PARA CONFIGURAR LA CONEXIÓN MQTT

# HOST DEL BRÓKER:
# - Entorno local (hotspot o router): usa la IP de tu dispositivo donde se ejecuta tu bróker MQTT (ej. 172.20.10.2)
# - Entorno público: usa un dominio web (ej. broker.hivemq.com)
VITE_MQTT_HOST=YOUR_VITE_MQTT_HOST

# PUERTO DEL BRÓKER:
# - Local (utilizando el bróker Eclipse Mosquitto a través de WebSockets): 9001
# - Público (WebSockets): 8083 (ws) o 443/8883/8884 (wss)
VITE_MQTT_PORT=YOUR_VITE_MQTT_PORT

# NOTAS DE CONFIGURACIÓN:
# 1. Si utilizas un bróker local, verifica tu IP con ipconfig (Windows) o hostname -I (Linux), ya que si es dinámica podría cambiar y romper el enlace con el bróker
# 2. Si utilizas brókers públicos, emplea prefijos únicos en topics.js para evitar colisiones de datos con otros usuarios

# EJEMPLOS DE CONFIGURACIÓN:
# Caso A: local (Hotspot + Eclipse Mosquitto)
# VITE_MQTT_HOST=172.20.10.2
# VITE_MQTT_PORT=9001

# Caso B: público (HiveMQ Cloud)
# VITE_MQTT_HOST=broker.hivemq.com
# VITE_MQTT_PORT=8884