# VARIABLES DE ENTORNO PARA CONFIGURACIÓN DE CONEXIÓN MQTT

# HOST DEL BROKER:
# - Entorno Local (hotspot o router): usa la IP de tu dispositivo donde se ejecuta tu broker MQTT (ej. 172.20.10.2)
# - Entorno Público: usa un dominio web (ej. broker.hivemq.com)
VITE_MQTT_HOST=YOUR_VITE_MQTT_HOST

# PUERTO DEL BROKER:
# - Local (utilizando el broker Eclipse Mosquitto a través de ws): 9001
# - Público (WebSockets): 8083 (ws) o 8883/8884 (wss)
VITE_MQTT_PORT=VITE_MQTT_PORT

# NOTAS DE CONFIGURACIÓN:
# 1. En redes locales, la IP suele ser dinámica. Verifica tu IP con "ipconfig" en Windows o "hostname -I" en Linux
# 2. El sistema detectará automáticamente si usar ws:// o wss:// en el módulo "mqtt.js" basándose en el puerto configurado
# 3. RECOMENDACIÓN: en brokers públicos, usa prefijos únicos en "topics.js" para evitar interferencias de otros usuarios

# EJEMPLOS DE CONFIGURACIÓN:
# Caso A: local (hotspot + mosquitto)
# VITE_MQTT_HOST=172.20.10.2
# VITE_MQTT_PORT=9001

# Caso B: público (HiveMQ Cloud)
# VITE_MQTT_HOST=broker.hivemq.com
# VITE_MQTT_PORT=8884